src/main/resources/eplan/ePlanWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.transtech.net.au/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.transtech.net.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.transtech.net.au/">
      <s:element name="ePlanMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ePlanMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ePlanMessageResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNextRequiredRest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DriverId" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="lastCheckpoint" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNextRequiredRestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getNextRequiredRestResult" nillable="true" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="upToDateAt" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="secondsRestRequired" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="ruleSummary" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ePlanMessageSoapIn">
    <wsdl:part name="parameters" element="tns:ePlanMessage"/>
  </wsdl:message>
  <wsdl:message name="ePlanMessageSoapOut">
    <wsdl:part name="parameters" element="tns:ePlanMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="getNextRequiredRestSoapIn">
    <wsdl:part name="parameters" element="tns:getNextRequiredRest"/>
  </wsdl:message>
  <wsdl:message name="getNextRequiredRestSoapOut">
    <wsdl:part name="parameters" element="tns:getNextRequiredRestResponse"/>
  </wsdl:message>
  <wsdl:portType name="ePlanWebServiceSoap">
    <wsdl:operation name="ePlanMessage">
      <wsdl:input message="tns:ePlanMessageSoapIn"/>
      <wsdl:output message="tns:ePlanMessageSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="getNextRequiredRest">
      <wsdl:input message="tns:getNextRequiredRestSoapIn"/>
      <wsdl:output message="tns:getNextRequiredRestSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ePlanWebServiceSoap" type="tns:ePlanWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ePlanMessage">
      <soap:operation soapAction="http://www.transtech.net.au/ePlanMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNextRequiredRest">
      <soap:operation soapAction="http://www.transtech.net.au/getNextRequiredRest" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ePlanWebServiceSoap12" type="tns:ePlanWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ePlanMessage">
      <soap12:operation soapAction="http://www.transtech.net.au/ePlanMessage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNextRequiredRest">
      <soap12:operation soapAction="http://www.transtech.net.au/getNextRequiredRest" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ePlanWebService">
    <wsdl:port name="ePlanWebServiceSoap" binding="tns:ePlanWebServiceSoap">
      <soap:address location="http://blackwood:8091/ePlanWebService.asmx"/>
    </wsdl:port>
    <wsdl:port name="ePlanWebServiceSoap12" binding="tns:ePlanWebServiceSoap12">
      <soap12:address location="http://blackwood:8091/ePlanWebService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>