src/main/resources/postcode/PostCodeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ssw.com.au/PostcodeWebservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.ssw.com.au/PostcodeWebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ssw.com.au/PostcodeWebservice">
      <s:element name="GetPostcodeAndSuburbForAustralia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txtSuburb" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="txtState" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="txtPostCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostcodeAndSuburbForAustraliaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostcodeAndSuburbForAustraliaResult">
              <s:complexType>
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPostcodeAndSuburbForAustraliaSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostcodeAndSuburbForAustralia"/>
  </wsdl:message>
  <wsdl:message name="GetPostcodeAndSuburbForAustraliaSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostcodeAndSuburbForAustraliaResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPostcodeAndSuburbForAustraliaHttpGetIn">
    <wsdl:part name="txtSuburb" type="s:string"/>
    <wsdl:part name="txtState" type="s:string"/>
    <wsdl:part name="txtPostCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPostcodeAndSuburbForAustraliaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetPostcodeAndSuburbForAustraliaHttpPostIn">
    <wsdl:part name="txtSuburb" type="s:string"/>
    <wsdl:part name="txtState" type="s:string"/>
    <wsdl:part name="txtPostCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPostcodeAndSuburbForAustraliaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:portType name="PostcodeServiceSoap">
    <wsdl:operation name="GetPostcodeAndSuburbForAustralia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This webservice returns the Australian suburb(s), postcode(s) and state(s) that matches the parameters.&lt;BR&gt;&lt;BR&gt;&lt;B&gt;Parameters:&lt;/B&gt;&lt;BR&gt;string suburb&lt;BR&gt;string state&lt;BR&gt;string postcode&lt;BR&gt;&lt;B&gt;Return:&lt;/B&gt;&lt;BR&gt;dataset results&lt;BR&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetPostcodeAndSuburbForAustraliaSoapIn"/>
      <wsdl:output message="tns:GetPostcodeAndSuburbForAustraliaSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PostcodeServiceHttpGet">
    <wsdl:operation name="GetPostcodeAndSuburbForAustralia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This webservice returns the Australian suburb(s), postcode(s) and state(s) that matches the parameters.&lt;BR&gt;&lt;BR&gt;&lt;B&gt;Parameters:&lt;/B&gt;&lt;BR&gt;string suburb&lt;BR&gt;string state&lt;BR&gt;string postcode&lt;BR&gt;&lt;B&gt;Return:&lt;/B&gt;&lt;BR&gt;dataset results&lt;BR&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetPostcodeAndSuburbForAustraliaHttpGetIn"/>
      <wsdl:output message="tns:GetPostcodeAndSuburbForAustraliaHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PostcodeServiceHttpPost">
    <wsdl:operation name="GetPostcodeAndSuburbForAustralia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This webservice returns the Australian suburb(s), postcode(s) and state(s) that matches the parameters.&lt;BR&gt;&lt;BR&gt;&lt;B&gt;Parameters:&lt;/B&gt;&lt;BR&gt;string suburb&lt;BR&gt;string state&lt;BR&gt;string postcode&lt;BR&gt;&lt;B&gt;Return:&lt;/B&gt;&lt;BR&gt;dataset results&lt;BR&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetPostcodeAndSuburbForAustraliaHttpPostIn"/>
      <wsdl:output message="tns:GetPostcodeAndSuburbForAustraliaHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostcodeServiceSoap" type="tns:PostcodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetPostcodeAndSuburbForAustralia">
      <soap:operation soapAction="http://www.ssw.com.au/PostcodeWebservice/GetPostcodeAndSuburbForAustralia" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostcodeServiceSoap12" type="tns:PostcodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetPostcodeAndSuburbForAustralia">
      <soap12:operation soapAction="http://www.ssw.com.au/PostcodeWebservice/GetPostcodeAndSuburbForAustralia" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostcodeServiceHttpGet" type="tns:PostcodeServiceHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="GetPostcodeAndSuburbForAustralia">
      <http:operation location="/GetPostcodeAndSuburbForAustralia"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostcodeServiceHttpPost" type="tns:PostcodeServiceHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetPostcodeAndSuburbForAustralia">
      <http:operation location="/GetPostcodeAndSuburbForAustralia"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostcodeService">
    <wsdl:port name="PostcodeServiceSoap" binding="tns:PostcodeServiceSoap">
      <soap:address location="http://webservices.ssw.com.au/ssw/Postcode/PostCodeService.asmx"/>
    </wsdl:port>
    <wsdl:port name="PostcodeServiceSoap12" binding="tns:PostcodeServiceSoap12">
      <soap12:address location="http://webservices.ssw.com.au/ssw/Postcode/PostCodeService.asmx"/>
    </wsdl:port>
    <wsdl:port name="PostcodeServiceHttpGet" binding="tns:PostcodeServiceHttpGet">
      <http:address location="http://webservices.ssw.com.au/ssw/Postcode/PostCodeService.asmx"/>
    </wsdl:port>
    <wsdl:port name="PostcodeServiceHttpPost" binding="tns:PostcodeServiceHttpPost">
      <http:address location="http://webservices.ssw.com.au/ssw/Postcode/PostCodeService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>